@import 'config';

@import 'common/reset';
@import 'common/mixins';
@import 'common/icons';
@import 'common/structure';
@import 'common/typography';
@import 'common/forms';

@import 'components/header';
@import 'components/footer';
@import 'components/article';
@import 'components/hero';
@import 'components/gallery';

@import 'views/home';
@import 'views/about';
@import 'views/404';

@import 'shame';